body{
    width: 100%;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    background: linear-gradient( rgba(0, 119, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(1, 172, 253, 1));
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5% ;
    padding-right: 5%;
}
header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    size: 130%;
}
header > div > img{
    width: 100%;
}
#headerh1{
    font-size: xx-large;
    align-items: center;
    padding-left: 5px;
    margin:0;
}
/* nav */
nav{
    justify-content: center;
}
nav > ul{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a{
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}
#nav1 > a{
    color: orange;
}
#nav2 > a{
    color: skyblue;
}
#nav3 > a{
    color: aqua;
}
#nav4 > a{
    color: rgb(0, 89, 255);
}
/* button */
#headerb{
    background-color: orange;
    padding: 10px 40px;
    border-radius: 7px;
    border: none;
}
#headerb > a{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: white;
}
#headerb:hover{
    background-color: rgb(112, 207, 245);
    color: black;
}
.menu{
    display: none;
}
/* marquee */
marquee{
    color: rgba(156, 36, 236, 0.733);
    padding: 2% 0 0 2%;
}
/* main body */
/* banner */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
}
#bannerdiv{
    max-width: 50%;
    margin-right: 10%;
}
#bannerh{
    font-size: 65px;
    color: #333;
    margin: 0;
}
#orange{
    color: orange;
}
#blue{
    color: rgb(35, 159, 241);
}
#bannerp{
    font-size: 25px;
    color: #555;
    margin: 20px 0;
}
#bannerb{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
}
#bannerb:hover{
    background-color: rgb(0, 153, 255);
}
#bimage{
    width: 50%;
    height: auto;
}
#bimage img{
    width:100%;
}
/* Standard Curriculum */
main{
    background: linear-gradient( rgba(0, 119, 255, 0), rgba(255, 255, 255, 0), rgba(250, 205, 108, 0.808));
    padding-left: 5%;
    padding-right:5%;
}
#section1{
    background-image: url(image/bg.png);
}
#section2{
    text-align: center;
    padding: 50px;
}
.h1{
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
    justify-content: center;
}
#card{
    display: flex;
    justify-content:space-around;
    margin-bottom: 40px;
    gap: 20px;
    column-gap: 5%;
}
/* card 1 */
#card1{
    background: linear-gradient(rgba(0, 162, 255, 0.418), rgba(0, 119, 255, 0), rgb(255, 255, 255));
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-height: 550px;
    justify-content: center;
}
#card1 img{
    margin: 10px;
    padding: 10px;
    justify-content: center;
}
#card1 h2{
    font-size: 25px;
    padding-bottom: 30px;
}
#card1 p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    font-weight: lighter;
    color: #555;
    padding-bottom: 30px;
}
#card1 button{
    color: skyblue;
    font-weight: bolder;
    background-color: white;
    border: none;
    padding-bottom: 30px;
}
#card1 button:hover{
    color: rgb(145, 154, 158);
}
/* card 2 */
#card2{
    background: linear-gradient(rgba(241, 197, 50, 0.418), rgba(0, 119, 255, 0), rgb(255, 255, 255));
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-height: 550px;
    justify-content: center;
}
#card2 img{
    margin: 10px;
    padding: 10px;
    justify-content: center;
}
#card2 h2{
    font-size: 25px;
    padding-bottom: 30px;
}
#card2 p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    font-weight: lighter;
    color: #555;
    padding-bottom: 30px;
}
#card2 button{
    color: orange;
    font-weight: bolder;
    background-color: white;
    border: none;
    padding-bottom: 30px;
}
#card2 button:hover{
    color: rgb(243, 216, 167);
}
/* card 3 */
#card3{
    background: linear-gradient(rgba(228, 51, 252, 0.418), rgba(0, 119, 255, 0), rgb(255, 255, 255));
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-height: 550px;
    justify-content: center;
}
#card3 img{
    margin: 10px;
    padding: 10px;
    justify-content: center;
}
#card3 h2{
    font-size: 25px;
    padding-bottom: 30px;
}
#card3 p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    font-weight: lighter;
    color: #555;
    padding-bottom: 30px;
}
#card3 button{
    color: rgb(144, 32, 219);
    font-weight: bolder;
    background-color: white;
    border: none;
    padding-bottom: 30px;
}
#card3 button:hover{
    color: rgb(189, 146, 218);
}
#barrow{
    justify-content: center;
}
#barrow button{
    font-weight:normal;
    font-size:xx-large;
    padding: 10px 20px;
    border-radius: 100%;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
#barrow button:hover{
    background-color: rgb(245, 224, 185);
    color: rgb(78, 78, 78);
}
/* our stories */
.h2{
    font-size: 40px;
}

.storysec{
    display: flex;
    justify-content:space-between;
    column-gap: 50px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.our{
    background-image: url('image/bg.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* margin: 50px auto; */
    justify-items: center;
}
.cont1{
    width: 100%;
    border: none;
    border-radius:15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 0px;
}

.cont1 > div > img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.hh{
    padding: 20px 65px 10px 38px;
    font-size: 24px;
    font-weight: bold;
}
.bigc{
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 48px;
    padding: 15px 10px;
    background-color: skyblue;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bigc:hover{
    background-color: orange;
}
.div{
    margin-top:-30px;
    margin-left: 30px;
}
.big1{
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(45, 133, 42);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 45px;
}
.big1:hover{
    background-color: rgb(81, 149, 236);
}
.big2{
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(45, 133, 42);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 45px;
}
.big2:hover{
    background-color: rgb(81, 149, 236);
}
.hb{
    padding: 20px 65px 35px 38px;
}
.cont2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 30px;
}
.vbutton{
    align-items: center;
    justify-content: center;
    border: none;
    padding: 40px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.vb{
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: none;
}
.vb:hover{
    background-color: skyblue;
}
.carda{
    /* max-width: 291px; */
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.carda>img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.cardb{
    /* max-width: 291px; */
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 16px;
}
.cardb>img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.cardc{
    /* max-width: 291px; */
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 16px;
}
.cardc>img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.cardd{
    /* max-width: 291px; */
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 16px;
}
.cardd>img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.cardp{
    padding: 30px 40px;
    font-weight: bolder;
}
/* footer */
footer{
    background-color: rgba(1, 172, 253, 1);
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.footerc{
    display: flex;
    justify-content: space-evenly;
}
#foot > div{
    display: flex;
    align-items: center;
}
#foot > div > h2{
    font-size: xx-large;
    font-weight: bolder;
}
#foot{
    width: 30%;
    padding-left: 20px;
}
#foot > p{
    font-size: 15px;
}
#about > div{
    font-size: small;
    font-weight: lighter;
}
#link{
    padding-right: 20px;
}

@media screen and (max-width:576px){
    nav,
    .cont1,
    #headerb,
    #headerh1,
    #barrow{
        display: none;
    }
    header{
        padding-bottom: 10px;
        border-bottom: .5px solid orange;
    }
    .menu{
        display: contents;
        position: relative;
    }
    #drop{
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .dots{
        width: 25px;
        height: 5px;
        background-color: #525252;
    }
    .drop:focus + .dropdown,
    .drop:hover + .dropdown {
        display: block;
    }
    .dropdown{
        position: absolute;
        top: 30px;
        right: 0;
        list-style: none;
        padding: 10px;
        margin: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        display: none;
    }
    .dropdown li{
        margin: 5px 0;
    }
    .dropdown > a{
        text-decoration: none;
        color: #486fda;
        padding: 5px 10px;
        display: block;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    .dropdown > a:hover{
        background-color: #c7c7c7;
    }
    body{
        width: 100%;
    }

    #banner{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 30px;
        padding: 0 5%;
    }
    #bannerh{
        font-size: 40px;
    }
    #bannerp{
        font-size: 17px;
    }
    #bimage{
        width: 100%;
    }
    .h1{
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    #card{
        flex-direction: column;
        row-gap: 20px;
        width: 90%;
        justify-content: space-around;
    }
    #card1,
    #card2,
    #card3{
        font-size: 10px;
    }
    #card > h2{
        font-size: 20px;
    }
    .cont2{
        width: 100%
    }
    .h2{
        font-size: 30px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .cont1{
        display: none;
    }
    .cont2{
        /* width: 500px; */
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
    .carda > p, .cardb > p, .cardc > p, .cardd > p{
        padding: 5px 10px;
        font-size:small;
        font-weight: lighter;
        color: #3f3f3f;
    }
    .carda,
    .cardb,
    .cardc,
    .cardd{
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .vb{
        font-size: 16px;
        padding: 10px 35px;
    }
    .big1{
        font-size: 10px;
        margin-top: 10px;
    }
    .footerc{
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
    }
    #link{
        padding-bottom: 50px;
        padding-left: 20px;
    }
    #foot{
        width: 90%;
    }
    #about{
        padding-left: 20px;
    }
}